# http://stackoverflow.com/a/987162/3553458
# Ignore everything
*

# But not these files...

!.gitignore
!setup.sh
!.profile

!bash/.bashrc
!bash/.bash_aliases
!bash/.bash_functions
!bash/.bash_setenv
!bash/.inputrc

!emacs/emacs.org

!git/.gitconfig

!vi/.vimrc
!vi/nvim/init.vim

# ...even if they are in subdirectories
!*/
