# http://stackoverflow.com/a/987162/3553458
# Ignore everything

*

# But not these files...

!.gitignore
!setup.sh
!.profile
!.Xresources

!bash/.bashrc
!bash/.bash_aliases
!bash/.bash_functions
!bash/.bash_setenv
!bash/.inputrc

!emacs/emacs.org
!emacs/readme.org
!emacs/apex-mode/apex-mode.el
!emacs/apex-mode/README.md

!git/.gitconfig

!vi/.vimrc
!vi/nvim/init.vim

# ...even if they are in subdirectories

!*/
